.search-box{
    height: 70lvh;
    width: 90%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-title{
    color: #8250A7;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.search-bar{
    border-color: #B45DBB;
    width: 40rem;
    height: 5rem;
    border-radius: 50px;
    text-align: center;
    font-size: 2rem;
    
}


/* btn-2 */

.btn-2 {
    border: 0;
    scale: 0.55;
    display: inline-flex;
    height: 7rem;
    align-items: center;
    border-radius: 9999px;
    padding-left: 7rem;
    padding-right: 7rem;
    white-space: nowrap;
    font-size: 3rem;
    font-weight: 400;
    color: #fafaf6;
    background-color: #8f44fd;
  }
  
  .btn-2-item .btn-2-bg {
    border-color: #8f44fd;
    background-color: #8f44fd;
  }
  
  .btn-2-inner,
  .btn-2-inner-hover,
  .btn-2-inner-static {
    pointer-events: none;
    display: block;
  }
  
  .btn-2-inner {
    position: relative;
  }
  
  .btn-2-inner-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(70%);
  }
  
  .btn-2-bg {
    overflow: hidden;
    border-radius: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: transform 1.8s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .btn-2-bg,
  .btn-2-bg-layer,
  .btn-2-bg-layers {
    display: block;
  }
  
  .btn-2-bg-layers {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -60%;
    aspect-ratio: 1 / 1;
    width: max(200%, 10rem);
  }
  
  .btn-2-bg-layer {
    border-radius: 9999px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
  }
  
  .btn-2-bg-layer.-purple {
    background-color: rgb(0 0 0 / 10%);
  }
  
  .btn-2-bg-layer.-turquoise {
    background-color: rgb(0 0 0 / 5%);
  }
  
  .btn-2-bg-layer.-yellow {
    --tw-bg-opacity: 1;
    background-color: rgba(143, 68, 253, var(--tw-bg-opacity));
  }
  
  .btn-2:hover .btn-2-inner-static {
    opacity: 0;
    transform: translateY(-70%);
    transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.3s linear;
  }
  
  .btn-2:hover .btn-2-inner-hover {
    opacity: 1;
    transform: translateY(0);
    transition: transform 1.4s cubic-bezier(0.19, 1, 0.22, 1),
      opacity 1.4s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .btn-2:hover .btn-2-bg-layer {
    transition: transform 1.3s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.3s linear;
  }
  
  .btn-2:hover .btn-2-bg-layer-1 {
    transform: scale(1);
  }
  
  .btn-2:hover .btn-2-bg-layer-2 {
    transition-delay: 0.1s;
    transform: scale(1);
  }
/*   
  .btn-2:hover .btn-2-bg-layer-3 {
    transition-delay: 0.2s;
    transform: scale(1);
  } */