.navbar {
    height: 4rem;
    z-index: -1;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 2rem;
    background-color: #2e2e2e;
    width: 100%;
}
