.explore-hero-section{
    height: 70lvh;
    width: 80%;
    background-color: #1D1D2D;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.explore-section{
    width: 90%;
    margin-top: 4rem;
}

.explore-game:hover{
    scale: 1.08;
    transition: all .3s ease-in-out;
}

.explore-game-loading{
    width: 15rem;
    height: 14rem;
}

img:hover{
    cursor: pointer;
}